
  <header>
  <h1><strong>Add  Task</strong></h1>	
</header>

<section>
<form class="form-horizontal" [formGroup]="addTaskForm" (ngSubmit)="formHandler()" novalidate> 
      
  <div class="form-group">  
              <label class="control-label col-sm-2" for="task">Task*</label>
              <div class="col-sm-5" [ngClass]="{'has-error': addTaskForm.controls.task.invalid && addTaskForm.controls.task.dirty,
                                      'has-success': addTaskForm.controls.task.valid  && addTaskForm.controls.task.dirty }"  >
              <input type="string" formControlName="task" class="form-control" id="task" placeholder="Enter the name of the task">
              </div>  
              <div class="alert-danger col-sm-4" *ngIf="addTaskForm.controls.task.invalid && addTaskForm.controls.task.dirty"> 
                  Task field can contain only Alphanumeric Value 
              </div> 
          </div>   
          
          <div class="form-group">  
                  <label class="control-label col-sm-2" for="priority">Priority*</label>
                  <div class="col-sm-5" [ngClass]="{'has-error': addTaskForm.controls.priority.invalid && addTaskForm.controls.priority.dirty,
                                          'has-success': addTaskForm.controls.priority.valid  && addTaskForm.controls.priority.dirty }"  >
                  <strong><output id = "put"></output></strong>
                  <br>
                  <input type="range"  min="0" max="30" value="0" step ="1" #priority (change)="setOutput(priority)" formControlName="priority" class="form-control" id="priority" >
                 
              </div>  
          </div>   

          
      <div class="form-group">  
              <label class="control-label col-sm-2" for="task">Parent Task*</label>
              <div class="col-sm-5" [ngClass]="{'has-error': addTaskForm.controls.parentTask.invalid && addTaskForm.controls.parentTask.dirty,
                                      'has-success': addTaskForm.controls.parentTask.valid  && addTaskForm.controls.parentTask.dirty }"  >
              <select [(ngModel)]="taskSelected" formControlName="parentTask" class="form-control" id="parentTask" >
                  
                <option *ngIf = "taskSelected != null || taskSelected != undefined" selected="selected" disabled [ngValue]=taskSelected>
                  {{ taskSelected.task}}
               </option>

                <option *ngFor="let variable1 of task;let i = index;" [ngValue]=variable1>
                     {{variable1.task}}
                 </option>
              </select>
              </div>  
              <div class="alert-danger col-sm-4" *ngIf="addTaskForm.controls.parentTask.invalid && addTaskForm.controls.parentTask.dirty"> 
                  Parent Task field can contain only Alphanumeric Value 
              </div> 
          </div>   
          
          <div class="form-group">  
                  <label class="control-label col-sm-2" for="task">Start Date*</label>
                  <div class="col-sm-5" [ngClass]="{'has-error': addTaskForm.controls.startDate.invalid && addTaskForm.controls.startDate.dirty,
                                          'has-success': addTaskForm.controls.startDate.valid  && addTaskForm.controls.startDate.dirty }"  >
                  <input type="text" bsDatepicker formControlName="startDate" class="form-control" id="startDate" placeholder="Enter Start Date">
                  </div>  
          </div>   
 
          
      <div class="form-group">  
              <label class="control-label col-sm-2" for="task">End Date*</label>
              <div class="col-sm-5" [ngClass]="{'has-error': addTaskForm.controls.endDate.invalid && addTaskForm.controls.endDate.dirty,
                                      'has-success': addTaskForm.controls.endDate.valid  && addTaskForm.controls.endDate.dirty }"  >
              <input type="text" bsDatepicker formControlName="endDate" class="form-control" id="endDate" placeholder="Enter end Date">
              </div>  
          </div>   
          <br>
          <div class="form-group"> 
                 
                  <div class="col-sm-offset-3 col-sm-2 col-md-6">
                      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" *ngIf="addTaskForm.status =='INVALID' || addTaskForm.pristine" title="Kindly provide all the mandatory(*) data to add the task">
                       <button class = "btn btn-success" style="pointer-events: none;"  type="submit" [disabled]="addTaskForm.status=='INVALID' || addTaskForm.pristine"
                                              >Add Task</button>
                                              </span>
                       <button type="submit" class = "btn btn-success" *ngIf="addTaskForm.status !='INVALID' " >                       
                        Add Task</button>
                        &nbsp;
                       <button type="reset" (click)="resetForm()" class="btn btn-danger">Clear</button>
                      </div>
          </div>
  </form>
</section>
             
<footer>
        <div class="container-fluid padding">
        <div class="row padding text-center">
          <div class="col-md-4">
              <hr class="hrTag">
              <h5> Author </h5>
            <hr class="hrTag">
            <p>Prasad Pai</p>
            <p>prashadmaroor12@gmail.com</p>
          </div>
          <div class="col-md-4">
              <hr class="hrTag">
              <h5>Working Days</h5>
              <hr class="hrTag">
              <p><strong>Monday-Friday:</strong> Open</p>
              <p><strong>Saturday-Sunday:</strong> Closed</p>
            </div>
            <div class="col-md-4">
                <hr class="hrTag">
                <h5>Work Locations</h5>
                <hr class="hrTag">
                <p>Mangaluru</p>
                <p>Kolkata</p>
              </div>
              <br>
              <div class="col-12">
                  <hr class="hrTag">
                  <p>&copy; CopyRight 2019</p>
                  <hr class="hrTag">
                </div>
    </div>
    </div>
    </footer>              
  
    
{{addTaskForm.controls.value  | json}}
